{
  "printWidth": 100,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false,
        "trailingComma": "none"
      }
    }
  ],
  "arrowParens": "avoid"
}
